<form action="{{ blank | search_price_items_url}}">
    <div class="b-ths-search-wrap">
        <input type="text" class="b-input-search" name="oem" id="oem" placeholder="{{'system-template-27.search_panel.placeholder' | ft}}" value="{{params.oem}}">
        <button class="b-btn-search"></button>
        <div class="b-btn-reset"></div>
    </div>
</form>
