<a class="tpl27-user-block-cart ajax-bask" href="/baskets">
  <img src="{{'basket.svg' | asset_url}}" alt="{{'system-template-27.user_nav.cart' | ft}}" class="ps-sub-lazy" />
  <div>{{basket.basket_qnt}}</div>
</a>
