/* Основной шрифт сайта */
$body-text-font: 'FiraSans', sans-serif;


/* Цвет кнопки */
$btn-background-color: #fdb93a;


/* Цвет шапки */
$header-background-color: #ffffff;


/* Цвет шапки с поиском */
$back-header-color: rgba(242,244,248,1);


/* Цвет фона кнопки каталога при наведении */
$btn-catalog-hover: #1f665c;


/* Цвет фона баннера */
$banner-back: #ffffff;


/* Цвет фона главной страницы */
$main-back: #f2f4f8;


/* Цвет текста кнопки баннера */
$banner-btn-text: #ffffff;


/* Цвет фона кнопки */
$banner-btn-back: #48b9a5;


/* Цвет фона кнопки при наведении */
$btn-catalog-back-hover: #1f665c;


/* Цвет галки в меню */
$header-menu-color-check: rgba(103, 105, 126, 0.8);


/* Цвет фона в корзине */
$cart-background-color: #FF4E3F;


/* Цвет фона количества товаров в корзине */
$cart-icon-background-color: #fff;


/* Цвет текста количества товаров в корзине */
$cart-text-background-color: #252525;


/* Цвет текста */
$text-color: rgba(0, 0, 0, 1);


/* Цвет текста блок пользователя */
$text-color-user: rgba(103, 105, 126, 0.8);


/* Цвет фона строки поиска */
$search-background-color: #fff;


/* Цвет ссылки по наведению */
$link-hover-color: #FF4E3F;


/* Цвет ссылки локации */
$location-color: rgba(103, 105, 126, 0.8);


/* Цвет ссылки телефона */
$phone-color: rgba(103, 105, 126, 0.8);


/* Цвет обоводки карточки новостей */
$news-item-border-color: #808080;


/* Цвет текста кнопки каталог */
$btn-catalog-color: #fff;


/* Цвет фона кнопки каталог */
$btn-catalog-back: #48b9a5;


/* Цвет фона подвала */
$footer-back: #f2f4f8;


/* Цвет фона карточки категории при наведении */
$category-item-hover: #48b9a5;
